.result {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.result--yourcurrency {
  color: green;
}
.result--selectedcurrency {
  color: red;
}
@media (max-width: 767px) {
  .result {
    display: grid;
    grid-template-columns: auto;
    word-break: break-all;
  }
}
