.form {
  max-width: 500px;
  margin: 0px auto;
  padding: 10px;
}
.form__fieldset {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.form__button {
  display: block;
  margin: 30px auto 10px;
}
.form__input {
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
}

.form__value {
  color: red;
  font-size: 1.4em;
}
.form__label {
  display: inline-block;
  width: 150px;
}
